.third-week-outer {
    clear: both;
}

.third-week-text{
    font-size:20px;
}


.third-week-outer h1{
    margin-bottom:50px;
}

.third-week-outer h3{
    font-size:24px;
}



.article-third-week{
    width:85%;
    background-color:white;
    margin:auto;
    margin-bottom:300px;
    margin-top:0px;
    text-align: left;
    padding:25px;
    padding-left:50px;
    border:1px solid #ccc;
    border-radius:3px;
    text-overflow: ellipsis;
}


.duck-photo-container{
    width:600px;;
    margin:auto;
    margin-top:40px;
}

.duck-photo-container img{
    width:100%;
   
}

.duck-caption{
    font-size: 14px;
    color:#5e5e5e;
    text-align: center;

}

@media screen and (min-width:1200px) and (max-width:3000px){
    .article-third-week{
        /* background-color: blue; */
        height:1850px;
    }
    .duck-photo-container{
        width:50%;
        margin:auto;
        margin-top:40px;
    }
}


@media screen and (min-width:800px) and (max-width:1200px){
    .article-third-week{
        /* background-color: green; */
        height:2150px;
    }
    .duck-photo-container{
        width:60%;
        margin:auto;
        margin-top:40px;
    }
}



@media screen and (min-width:650px) and (max-width:800px){
    .article-third-week{
        /* background-color: yellow; */

        height:2600px;
    }
    
    .duck-photo-container{
        width:90%;
        margin:auto;
        margin-top:40px;
    }
}


@media screen and (min-width:450px) and (max-width:650px){
    .article-third-week{
        /* background-color: red; */
        height:3050px;
    }
    .duck-photo-container{
        width:95%;
        margin:auto;
        margin-top:40px;
    }
}


@media screen and (min-width:350px) and (max-width:450px){
    .article-third-week{
        /* background-color: orange; */
        padding-left:30px;
        height:3700px;
    }
    .duck-photo-container{
        width:95%;
        margin:auto;
        margin-top:40px;
    }
}

@media screen and (min-width:200px) and (max-width:350px){
  
    .article-third-week{
        /* background-color: blue; */
        padding-left:30px;
        height:4450px;
    }
    .duck-photo-container{
        width:280px;
        margin:auto;
        margin-top:40px;
    }
    .third-week-text{
        font-size:20px;
        padding-right:10px;
    }
}