.fourth-week-outer {
    clear: both;
}

.fourth-week-text{
    font-size:20px;
}


.fourth-week-outer h1{
    margin-bottom:50px;
}

.fourth-week-outer h3{
    font-size:24px;
}



.article-fourth-week{
    height: inherit;
    width:85%;
    background-color:white;
    margin:auto;
    margin-bottom:100px;
    margin-top:0px;
    text-align: left;
    padding:25px;
    padding-left:35px;
    border:1px solid #ccc;
    border-radius:3px;
    text-overflow: ellipsis;
}
