.post-feed{
    height:720px;
    width:85%;
    background-color:white;
    margin:auto;
    margin-bottom:300px;
    margin-top:120px;
    text-align: left;
    padding:25px;
    padding-left:50px;
    border:1px solid #ccc;
    border-radius:3px;
    overflow: none;
}


@media screen and (min-width:1200px) and (max-width:2000px){
    .post-feed{
        height:730px;
        margin-top:160px;
    }
}


@media screen and (min-width:800px) and (max-width:1200px){
    .post-feed{
        height:900px;
        margin-top:120px;
    }
}


@media screen and (min-width:575px) and (max-width:800px){
    .post-feed{
        height:1100px;
        margin-bottom:50px;
        margin-top:120px;
        padding-left:30px;
    }
}


@media screen and (min-width:500px) and (max-width:575px){
    .post-feed{
        height:1250px;
        margin-bottom:50px;
        margin-top:40px;
        padding-left:30px;
    }
}



@media screen and (min-width:450px) and (max-width: 500px){
    .post-feed{
        height:1400px;
        margin-bottom:50px;
        margin-top:40px;
        padding-left:30px;
        font-size:16px;
    }
}


@media screen and (min-width:200px) and (max-width: 450px){
    .post-feed{
        height:1850px;
        margin-bottom:50px;
        margin-top:40px;
        padding-left:30px;
    }

}