.App {
  text-align: center;
}

.app-menu{
  width:100%;
  padding:0;
  margin:0;
  list-style: none;
  text-align: center;
}
.app-menu li{
  padding-bottom:12px;
  width:100%;
  margin:auto;
  background-color: yellow;
}
