.first-week-outer {

}

.first-week-text{
    font-size:20px;
}


.first-week-outer h1{
    margin-bottom:50px;
}

.first-week-outer h3{
    font-size:24px;
}

.pp-photo-container{
    width:300px;
    margin:auto;
    padding-top:30px;
}

.pp-photo-container img{
    width:100%;
}

.pp-caption{
    font-size: 14px;
    color:#5e5e5e;
    text-align: center;
    margin-bottom:-10px;
}

.article-first-week{
    height:inherit;
    width:85%;
    background-color:white;
    margin:auto;
    margin-bottom:100px;
    margin-top:120px;
    text-align: left;
    padding:25px;
    padding-left:35px;
    border:1px solid #ccc;
    border-radius:3px;
    overflow: none;
}

@media screen and (min-width:1200px) and (max-width:3000px){
    .pp-photo-container{
        width:600px;
        margin:auto;
        padding-top:30px;
    }
}



@media screen and (min-width:800px) and (max-width:1200px){
    .pp-photo-container{
        width:600px;
        margin:auto;
        padding-top:30px;
    }
}


@media screen and (min-width:575px) and (max-width:800px){
    .article-first-week{
        margin-top:100px;
    }

    .pp-photo-container{
        width:500px;
        margin:auto;
        padding-top:30px;
    }
}


@media screen and (min-width:500px) and (max-width:575px){
    .article-first-week{
        margin-top:50px;
    }
    
    .pp-photo-container{
        width:400px;
        margin:auto;
        padding-top:30px;
    }
}



@media screen and (min-width:450px) and (max-width: 500px){
    .article-first-week{
        margin-top:50px;
    }

    .pp-photo-container{
        width:400px;
        margin:auto;
        padding-top:30px;
    }
}


@media screen and (min-width:350px) and (max-width: 450px){
    .article-first-week{
        margin-top:50px;
    }

    .pp-photo-container{
        width:350px;
        margin:auto;
        padding-top:30px;
    }

}


@media screen and (min-width:200px) and (max-width: 350px){
    .article-first-week{
        margin-top:50px;
    }

    .pp-photo-container{
        width:260px;
        margin:auto;
        padding-top:30px;
    }

}